/* BREADCRUMBS start */
UL.navigation
{
	list-style-type: none;
	height: 30px;
	width: 960px;
/*	background: red;
	border-bottom: 2px solid yellow;*/
}
UL.navigation LI
{
	padding-left: 24px;
	padding-right: 3px;
	background: url("/assets/goTo.png") no-repeat left;
	float: left;
	left: 0px;
	top: 0px;
}
UL.navigation LI:first-child
{
	padding-left: 0px;
	padding-right: 3px;
	background: none;
	float: left;
	left: 0px;
	top: 0px;
}
UL.navigation LI:first-child A
{
	background: url("/assets/home.png") no-repeat left;
	padding-left: 24px;
	float: left;
	left: 0px;
	top: 0px;
}
/* BREADCRUMBS end */


/* MENU start */
.indexmenu
{
	height: 120px;
	width: 960px;
}
.indexmenu UL
{
/*	background: red;
	border-bottom: 2px solid yellow;
*/	height: 30px;
	margin: 0;
	padding: 15px 0px 0px 5px;
	list-style: none;
	line-height: normal;
}
.indexmenu LI
{
	display: block;
	float: left;
}
.indexmenu A
{
	display: block;
	float: left;
	height: 32px;
	padding: 22px 20px 0px;
	letter-spacing: -1px;
	text-decoration: none;
	text-align: center;
	text-transform: lowercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #FFFFFF;
}
.indexmenu A:hover
{
	text-decoration: none;
	color: #FF0000;
}
.indexmenu A.home
{
	float: left;
	
	display: block;
	/*	background-color: red;
		color: #008000;*/
	width: 110px;
	height: 50px;
	background-position: 37px 19px;
	background-image: url(htscs.png);
	background-repeat: no-repeat !important;
	text-indent: -1000000px !important;
	overflow: hidden;	
}

.indexmenu A.home:hover
{
	background-image: url(close.png);
}
.indexmenu .current_page_item
{
	color: #FF0000;
}
.indexmenu .first
{
}
/*MENU end*/
