/* BREADCRUMBS start */
UL.navigation
{
	position: relative;
	left: -40px;
	list-style-type: none;
	height: 30px;
	width: 960px;
/*	background: red;
	border-bottom: 2px solid yellow;*/
}
UL.navigation LI
{
	padding-left: 24px;
	padding-right: 3px;
	background: url("/assets/goTo.png") no-repeat left;
	float: left;
	left: 0px;
	top: 0px;
}
UL.navigation LI:first-child
{
	padding-left: 0px;
	padding-right: 3px;
	background: none;
	float: left;
	left: 0px;
	top: 0px;
}
UL.navigation LI:first-child A
{
	background: url("/assets/home.png") no-repeat left;
	padding-left: 24px;
	float: left;
	left: 0px;
	top: 0px;
}
/* BREADCRUMBS end */


/* MENU start */
.indexmenu
{
	height: 60px;
	width: 960px;
}
.indexmenu UL
{
/*	background: red;
	border-bottom: 2px solid yellow;
*/	height: 30px;
	margin: 0;
	padding: 15px 0px 0px 5px;
	list-style: none;
	line-height: normal;
}
.indexmenu LI
{
	display: block;
	float: left;
}
.indexmenu A
{
	display: block;
	float: left;
	height: 32px;
	padding: 52px 20px 0px;
	letter-spacing: -1px;
	text-decoration: none;
	text-align: center;
	text-transform: lowercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #FFFFFF;
}
.indexmenu A:hover
{
	text-decoration: none;
	color: #FF0000;
}

.indexmenu A.home
{
	float: left;
	padding: 22px 20px 0px;
	display: block;
	width: 140px;
	height: 60px;
	background-position: -10px 0px;	
/*	background-position: -40px -10px;*/	
	background-image: url(Logoweb.png);
	background-repeat: no-repeat !important;
	text-indent: -1000000px !important;
	overflow: hidden;	
}
.indexmenu A.home:hover
{
	background-image: url(Logoweb_hover.png);
}

.indexmenu A.partners
{
	float: left;
	padding: 22px 20px 0px;
	display: block;
	width: 120px;
	height: 60px;
	background-image: url(partners.png);
	background-repeat: no-repeat !important;
	text-indent: -1000000px !important;
	overflow: hidden;	
}

.indexmenu A.partners:hover
{
	background-image: url(partners_hover.png);
}


.indexmenu A.prodotti
{
	float: left;
	padding: 22px 20px 0px;
	display: block;
	width: 120px;
	height: 60px;
	background-image: url(prodotti.png);
	background-repeat: no-repeat !important;
	text-indent: -1000000px !important;
	overflow: hidden;	
}

.indexmenu A.prodotti:hover
{
	background-image: url(prodotti_hover.png);
}


.indexmenu A.azienda
{
	float: left;
	padding: 22px 20px 0px;
	display: block;
	width: 120px;
	height: 60px;
	background-image: url(azienda.png);
	background-repeat: no-repeat !important;
	text-indent: -1000000px !important;
	overflow: hidden;	
}

.indexmenu A.azienda:hover
{
	background-image: url(azienda_hover.png);
}

.indexmenu A.contatti
{
	float: left;
	padding: 22px 20px 0px;
	display: block;
	width: 120px;
	height: 60px;
	background-image: url(contatti.png);
	background-repeat: no-repeat !important;
	text-indent: -1000000px !important;
	overflow: hidden;	
}

.indexmenu A.contatti:hover
{
	background-image: url(contatti_hover.png);
}

.indexmenu .current_page_item
{
	color: #FF0000;
}
.indexmenu .first
{
}
/*MENU end*/

/* ICONS */
A.ico_facebook
{
	float: left;
	
	display: block;
	width: 40px;
	height: 60px;
	background-position: 0px 0px;
/*	background-color:yellow;
*/	background-image: url(social_networks/facebook.png);
	background-repeat: no-repeat !important;
	text-indent: -1000000px !important;
	overflow: hidden;	
}

A.ico_facebook:hover
{
	background-image: url(social_networks/rss.png);
}

A.ico_twitter
{
	float: left;
	
	display: block;
	width: 40px;
	height: 60px;
	background-position: 0px 0px;
/*	background-color:yellow;
*/	background-image: url(social_networks/twitter.png);
	background-repeat: no-repeat !important;
	text-indent: -1000000px !important;
	overflow: hidden;	
}

A.ico_twitter:hover
{
	background-image: url(social_networks/rss.png);
}

A.ico_rss
{
	float: left;
	
	display: block;
	width: 40px;
	height: 60px;
	background-position: 0px 0px;
/*	background-color:yellow;
*/	background-image: url(social_networks/rss.png);
	background-repeat: no-repeat !important;
	text-indent: -1000000px !important;
	overflow: hidden;	
}

A.ico_rss:hover
{
	background-image: url(social_networks/rss.png);
}

