.stripe
{
	background: #1D8234;
}
.stripe_container
{
	width: 960px;
	background: #1D3482;
	/*+placement:margin-auto 0px 0px;*/
	margin-left: auto;
	margin-right: auto;
	position: relative;
	left: 0px;
	top: 0px;
}
