.stripe_slider
{
	background: #FFFFFF;
}

.stripe
{
	background: #222222;
}

.stripe_container
{
	display: inline-block;
	display: block;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	left: 0px;
	top: 0px;
}

.stripe_container:after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
}

/*960 diviso 4 (1/4,2/4,3/4)*/
.block_1_4
{
	width: 240px;
	float: left;
}

.block_2_4
{
	width: 480px;
	float: left;
}

.block_3_4
{
	width: 720px;
	float: left;
}

/*960 diviso 3 (1/3, 2/3)*/
.block_1_3
{
	width: 320px;
	float: left;
}

.block_2_3
{
	width: 640px;
	float: left;
}
