.stripe_container
{
	display: inline-block;
	display: block;
	/*-height: 1px;*/
	width: 960px;
	/*background: #222222;*/
	/*+placement:margin-auto 0px 0px;*/
	margin-left: auto;
	margin-right: auto;
	position: relative;
	left: 0px;
	top: 0px;

}

.stripe_container:after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
}


.stripe
{
	background: #222222;
}

.stripe_slider
{
	background: #FFFFFF;
}